@import '@/styles/responsive';

.table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .thead{
    background-color: rgb(236,248,255);
    border-radius: 1rem;
  }

  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    width: 20%;
    
  }
  
  .table th {
    background-color:rgb(236,248,255);
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
 
  .table-row {
    margin-bottom: 10px; /* Adjust the margin as needed */
  white-space: nowrap; /* Prevent line breaks in rows */
  overflow-x: auto; 
  }